.dao-governance__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 50px;

  mix-blend-mode: normal;
  opacity: 0.5;
  border: 1px solid #979797;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.3px;
}

.dao-governance__link {
  margin: 20px 0 40px;
}
