@import "../../common/variables";

.modal-wrapper {
  position: fixed;
  width: 100%;
  padding: 80px 140px;
  top: 0;
  left: 0;
  z-index: 300;
  max-height: 100vh;
  overflow: auto;
  @media screen and (max-width: 1100px) {
    padding: 40px;
  }
  .modal-inner-wrapper {
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.82);
    background-color: $color2;
    border-radius: 5px;
    padding: 30px;
    position: relative;
    max-width: 550px;
    margin: auto;
    .close-button {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      background: url('/images/x.svg') 100% center no-repeat;
      height: 34px;
      width: 34px;
      border: 0;
      outline: 0;
      cursor: pointer;
      &:hover {
        background: url('/images/x.svg') 100% center no-repeat;
      }
    }
    h2 {
      font-size: 24px;
      margin-top: 0;
    }
    p {
      line-height: 22px;
      font-size: 14px;
      letter-spacing: 0.02em;
      font-weight: 300;
    }
    button {
      display: block;
      margin: 30px 0 5px auto;
      width: 200px;
      height: 50px;
      border: 0;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      background: $color4;
      box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.68);
      cursor: pointer;
      transition: all .2s;
      &:hover {
        background-color: darken($color4, 5%);
      }
      &:active {
        background-color: darken($color4, 8%);
      }
    }
    .amount-picker {
      display: flex;
      align-items: flex-end;

      input[type=range] {
        -webkit-appearance: none;
        width: 100%;
        background: transparent;
      }

      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
      }

      input[type=range]:focus {
        outline: none;
      }

      input[type=range]::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 18px;
        width: 18px;
        background: white;
        cursor: pointer;
      }
      input[type=range]::-moz-range-thumb,
      input[type=range]::-ms-thumb {
        height: 18px;
        width: 18px;
        background: white;
        cursor: pointer;
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 18px;
        cursor: pointer;
        background: $color3;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
      }
      input[type=text] {
        text-align: right;
        width: 50px;
        background: transparent;
        color: white;
        border: 0;
        outline: none;
        margin-left: 20px;
        padding: 0 4px;
        font-size: 20px;
        font-weight: bold;
      }
      label {
        font-size: 14px;
        font-weight: normal;
      }

    }
  }
}
