{
  "presets": [["env", {
    "modules": false,
    "targets": {
      "node": "current",
      "uglify": true
    }
  }], "react"],
  "plugins": ["transform-object-rest-spread", "transform-runtime"]
}
