@import "../../common/variables";

.faq {
  padding: 10px 0 0;
  h1 {
    font-size: 70px;
    margin: 100px 0 50px;
    font-weight: 300;
  }
  a {
      color: #DCE2FF;
      text-decoration: none;
  }
  .faq-wrapper {
    background-color: $color4;
    padding: 20px 0;
    .faq-container {
      max-width: 1000px;
      padding: 10px 30px;
      margin: auto;
      .info-tip {
        padding: 10px;
        border-radius: 3px;
        background-color: rgba(white, .05);
        font-weight: 300;
        margin: 0;
      }
    }
  }
}
