@import "../../common/variables";

.faq {
  padding: 10px 0 0;
  h1 {
    font-size: 70px;
    margin: 100px 0 50px;
    font-weight: 300;
  }
  a {
      color: #DCE2FF;
      text-decoration: none;
  }
  .faq-wrapper {
    background-color: $color4;
    padding: 20px 0;
    .faq-container {
      max-width: 1000px;
      padding: 10px 30px;
      margin: auto;
    }
  }
  .faq-wrapper-dark {
    background-color: $color3;
    padding: 20px 0;
    .faq-container {
      max-width: 1000px;
      padding: 10px 30px;
      margin: auto;
    }
  }
}
