.landing__wrapper {
  display: grid;
  grid-template-columns: 130px 36% 1fr;
  height: 100vh;
  max-height: 100vh;
  font-size: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  &--nec {
    background-image: url('/images/landingBackgrounds/nec-bg.png');
  }

  &--fee {
    background-image: url('/images/landingBackgrounds/fee-bg.png');
  }

  &--exchanges {
    background-image: url('/images/landingBackgrounds/exchanges-bg.png');
  }

  &--listings {
    background-image: url('/images/landingBackgrounds/fee-bg.png');
  }

  &--dao {
    background-image: url('/images/landingBackgrounds/dao-bg.png');
  }

  &--buy {
    background-image: url('/images/landingBackgrounds/buy-bg.png');
  }

  @media (max-width: 1280px) {
    grid-template-columns: 88px 45% 1fr;
  }
}

.landing__left-column {
  display: flex;
  align-items: flex-end;
  padding: 0 0 30px 42px;
}

.left-column__page-number-wrapper {
  display: flex;
  align-items: flex-start;
}

.left-column__current-page {
  margin-right: 17px;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.left-column__page-number {
  padding-top: 5px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.landing__central-column {
  padding: 0;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.landing__central-column-borders {
  display: flex;
  align-items: flex-start;
  padding: 35px 0 35px 46px;
  border-left: 1px solid rgba(#ffffff, 0.2);
  mix-blend-mode: normal;

  &--bottom {
    align-items: flex-end;
  }
}

.central-column-borders__wrapper {
  display: flex;
  align-items: center;
}

.central-column-borders__badge {
  margin-right: 14px;

  &--invert {
    transform: rotate(180deg);
  }
}

.central-column-borders__text {
  font-size: 16px;
  line-height: 20px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.landing__section {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 40px 0;
}

.landing__section-content {
  max-width: 525px;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  mix-blend-mode: normal;
  color: rgba(#ffffff, 0.5);
}

.landing__right-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 113px 76px 113px 20px;

  @media (max-height: 1024px) {
    padding: 70px 76px 70px 20px;
  }

  @media (max-height: 900px) {
    padding: 70px 56px 30px 20px;
  }
}

.right-column__circle {
  mix-blend-mode: normal;
  border-radius: 50%;

  &-1 {
    width: 790px;
    height: 790px;
    padding: 83px;
    border: 1px solid rgba(#ffffff, 0.05);

    @media (max-height: 1024px) {
      width: 711px;
      height: 711px;
    }

    @media (max-height: 900px) {
      width: 632px;
      height: 632px;
      padding: 73px;
    }

    @media (max-height: 800px), (max-width: 1280px) {
      width: 537px;
      height: 537px;
      padding: 73px;
    }
  }

  &-2 {
    width: 100%;
    height: 100%;
    padding: 83px;
    border: 1px solid rgba(#ffffff, 0.1);

    @media (max-height: 900px) {
      padding: 73px;
    }
  }

  &-3 {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 95px;
    border: 1px solid rgba(#ffffff, 0.15);

    @media (max-height: 900px) {
      padding: 83px;
    }
  }

  &-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(#ffffff, 0.1);

    @media (max-height: 800px), (max-width: 1280px) {
      border: none;
    }
  }
}

.right-column__circle-central-button {
  justify-content: center;
  width: 120px;
  height: 120px;
  font-size: 24px;
  border-radius: 50%;
  transition: all 0.3s;

  &:hover,
  &:focus,
  &--active {
    background-color: #6326ff;
    font-size: 30px;
  }

  @media (max-height: 1024px) {
    width: 100px;
    height: 100px;
    font-size: 18px;

    &:hover,
    &:focus,
    &--active {
      font-size: 24px;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
