@import "../../common/text";
@import "../../common/components";
@import "../../common/variables";

.vertical {
  display: inline-block;
  transform: rotate(90deg);
  transform-origin: left top 0;
  font-size: 12px;
  //margin-top: 10px;
  margin-left: 20px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

@keyframes wave {
  from {transform: translateX(-50%)}
  to {transform: translateX(0%)}
}

.waves {
  height: 200px;
  overflow: hidden;
  position: relative;
  &.reverse {
    transform: scaleX(-1) scaleY(-1);
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    height: 200px;
    width: 200%;
    background: url('/images/wave1.png');
    animation: wave 45s infinite linear;
  }
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    height: 200px;
    width: 200%;
    background: url('/images/wave2.png');
    animation: wave 60s infinite linear;
  }
}

.landing-wrapper {
  background-color: $color1;
  section {
    min-height: 90vh;
  }
  .hero {
    padding: 40px 60px;
    background: url(/images/landing-bg.png) center/contain no-repeat;
    h1 {
      font-size: 70px;
      font-weight: normal;
      margin: 130px 0;
      b {
        display: block;
        font-size: 112px;
      }
    }
    .hero-footer {
      display: flex;
      div {
        flex: 1 1 100%;
      }
      h2 {
        line-height: 29px;
        font-size: 18px;
        margin: 0;
        font-weight: normal;
      }
    }
  }
  .statistics {
    background: linear-gradient(117.02deg, #041824 9.23%, #07090D 91.6%);
    padding: 100px 0;
    position: relative;
  }
  .voting {
    background-color: $color2;
    padding: 100px 0;
  }
  .learn-more {
    padding: 100px 0;

    .learn-more-wrapper {
      position: relative;

      .learn-more-bg-text {
        top: 250px;
        right: 0;
        white-space: nowrap;
      }

      .learn-more-content-wrapper {
        position: relative;
        z-index: 2;

        h1 {
          font-size: 48px;
          margin: 0;
        }
        h2 {
          font-size: 32px;
          font-weight: normal;
        }
        p {
          font-weight: normal;
          margin: 25px 50px;
          line-height: 23px;
          font-size: 14px;
          letter-spacing: 0.02em;
          width: 350px;
        }
      }
    }
  }
}
