.landing__wrapper {
  display: grid;
  grid-template-columns: 130px 36% 1fr;
  height: 100vh;
  max-height: 100vh;
  font-size: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &--nec {
    background-image: url('./images/nec-bg.png');
  }

  &--fee {
    background-image: url('./images/fee-bg.png');
  }

  &--exchanges {
    background-image: url('./images/exchanges-bg.png');
  }

  &--listings {
    background-image: url('./images/fee-bg.png');
  }

  &--dao {
    background-image: url('./images/dao-bg.png');
  }

  &--buy {
    background-image: url('./images/buy-bg.png');
  }
}

.landing__left-column {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 0 0 33px 42px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 30%;
    background-color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.2;
    z-index: 5;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 30%;
    background-color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.2;
    z-index: 5;
  }
}

.left-column__page-number-wrapper {
  display: flex;
  align-items: flex-start;
}

.left-column__current-page {
  margin-right: 17px;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.left-column__page-number {
  padding-top: 5px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.landing__right-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 113px 76px 113px 20px;
}

.landing__central-column {
  padding: 113px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-column__circle {
  mix-blend-mode: normal;
  border-radius: 50%;

  &-1 {
    width: 790px;
    height: 790px;
    padding: 83px;
    border: 1px solid rgba(#ffffff, 0.05);
  }

  &-2 {
    width: 624px;
    height: 624px;
    padding: 83px;
    border: 1px solid rgba(#ffffff, 0.1);
  }

  &-3 {
    position: relative;
    width: 458px;
    height: 458px;
    padding: 95px;
    border: 1px solid rgba(#ffffff, 0.15);
  }

  &-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    height: 268px;
    padding: 74px;
    border: 1px solid rgba(#ffffff, 0.1);
  }
}

.right-column__circle-button {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  appearance: none;

  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;

  &:hover .circle-button__icon {
    background-color: #6326ff;
  }

  &-fee {
    top: 0;
    left: 50%;
    transform: translate(-50%, -42px);

    & .circle-button__icon {
      background-image: url(./icons/fee.png);
      background-position: 6px 8px;
    }

    &--active .circle-button__name {
      font-size: 24px;
    }

    &--active .circle-button__icon {
      width: 120px;
      height: 120px;
      background-image: url(./icons/fee-active.png);
      background-position: 2px 4px;
      background-color: #6326ff;
    }
  }

  &-exchanges {
    top: 133px;
    left: 0;
    transform: translateX(-50%);

    & .circle-button__icon {
      background-image: url(./icons/exchanges.png);
      background-position: 4px 7px;
    }

    &--active .circle-button__name {
      font-size: 24px;
    }

    &--active .circle-button__icon {
      width: 120px;
      height: 120px;
      background-image: url(./icons/exchanges-active.png);
      background-position: 5px 8px;
      background-color: #6326ff;
    }
  }

  &-listings {
    top: 364px;
    left: 43px;

    & .circle-button__icon {
      background-image: url(./icons/listings.png);
      background-position: 3px 5px;
    }

    &--active .circle-button__name {
      font-size: 24px;
    }

    &--active .circle-button__icon {
      width: 120px;
      height: 120px;
      background-image: url(./icons/listings-active.png);
      background-position: 0 0;
      background-color: #6326ff;
    }
  }

  &-dao {
    top: 364px;
    right: 43px;

    & .circle-button__icon {
      background-image: url(./icons/dao.png);
      background-position: 7px 7px;
    }

    &--active .circle-button__name {
      font-size: 24px;
    }

    &--active .circle-button__icon {
      width: 120px;
      height: 120px;
      background-image: url(./icons/dao-active.png);
      background-position: 0 0;
      background-color: #6326ff;
    }
  }

  &-buy {
    top: 133px;
    right: 0;
    transform: translateX(50%);

    & .circle-button__icon {
      background-image: url(./icons/buy.png);
      background-position: 10px 5px;
    }

    &--active .circle-button__name {
      font-size: 24px;
    }

    &--active .circle-button__icon {
      width: 120px;
      height: 120px;
      background-image: url(./icons/buy-active.png);
      background-position: 6px 2px;
      background-color: #6326ff;
    }
  }

  &-nec {
    position: static;
  }
}

.right-column__circle-central-button {
  justify-content: center;
  width: 120px;
  height: 120px;
  font-size: 24px;
  border-radius: 50%;
  transition: all 0.3s;

  &:hover,
  &--active {
    background-color: #6326ff;
    font-size: 30px;
  }
}

.circle-button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
  border-radius: 50%;
  background-color: #2b1284;
  background-repeat: no-repeat;
  transition: all 0.3s;
}

.circle-button__name {
  text-transform: capitalize;
}
