@import "../../common/variables";

.traderboard {
  margin: auto;
  padding: 100px 0 10px 0;
  min-height: calc(100vh - 177px);
}

.search {
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.selected {
  font-weight: 600;
}

.react-datepicker-popper {
  display: flex;
  align-items: center;
  z-index: 99;
}

input {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: 300;
  outline: none;
  padding: 5px;
}

// @media(max-width: 710px) {
//   .card {
//     font-size: 18px;
//   }
// }

.actions_item:not(:last-child) {
  cursor: pointer;
}

.noRows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #bdbdbd;
}

.ReactVirtualized__Table__headerRow {
  display: flex;
  justify-content: space-between;

  .ReactVirtualized__Table__headerColumn {
    font-size: 12px;
    font-weight: 300;
  }
}

.ReactVirtualized__Table__row {
  font-size: 13px;
  padding: 16px 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid hsla(0, 0%, 86.7%, 0.2);
}

.calendar {
  background-color: $color1;
}