@import "../../common/variables";

.help-fab {
  position: fixed;
  bottom: 100px;
  right: 40px;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  background: darken($color4, 5%);
  cursor: pointer;
  line-height: 11px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all .2s;
  z-index: 1000;
  &:hover {
    background-color: darken($color4, 8%);
  }
  &:active {
    background-color: darken($color4, 10%);
  }
}

.help-wrapper {
  position: fixed;
  width: 100%;
  padding: 80px 140px;
  top: 0;
  left: 0;
  z-index: 300;
  max-height: 100vh;
  overflow: auto;
  @media screen and (max-width: 1100px) {
    padding: 40px;
  }
  .help-inner-wrapper {
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.82);
    background-color: $color2;
    border-radius: 5px;
    padding: 30px;
    position: relative;
    .close-button {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      background: url('/images/x.svg') 100% center no-repeat;
      height: 34px;
      width: 34px;
      border: 0;
      outline: 0;
      cursor: pointer;
    }
    .left-bullet-wrapper {
      position: left;
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      ul li, ol li {
       padding: 2px 0px;
      }
    }
    .video-wrapper {
      box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.82);
      border-radius: 5px;
      padding: 5px;
      position: right;
      display: inline-block;
      vertical-align: middle;
      width: 45%;
      margin-left: 5%;
      bottom: 10%;
    }
  }

}
