@import '../../common/variables';

.admin {
  margin: auto;
  padding: 30px 0;
  h1 {
    font-size: 70px;
    margin: 100px 0 100px;
    font-weight: 300;
  }
  .proposal-wrapper {
    &:first-child {
      .remaining {
        padding-top: 0;
      }
      .details-wrapper {
        border: 0 !important;
        padding-top: 0;
      }
      .results-wrapper {
        border: 0 !important;
        padding-top: 0;
      }
    }
    .details-wrapper {
      flex: 1 1 100%;
      padding: 40px 0;
      border-top: 1px solid white;
      p {
        margin: 10px 0;
        line-height: 1.5em;
        font-size: 14px;
        letter-spacing: 0.02em;
      }
      .started {
        color: $color4;
      }
      .title {
        font-weight: bold;
        line-height: 38px;
        text-decoration: none;
        font-size: 18px;
        letter-spacing: 0.02em;
      }
      .description {
        white-space: pre-wrap;
        font-size: 14px;
        overflow: hidden;
        position: relative;
      }
      .vote-wrapper {
        color: white;
        text-decoration: none;
        line-height: 58px;
        font-size: 35px;
        letter-spacing: 0.02em;
        margin-top: 20px;
        display: inline-block;
      }
    }
  }
}
