@import "../../common/variables";

.calculator-wrapper {
  position: relative;

  .calculator-bg-text {
    right: 0;
    top: 189px;
  }

  .calculator-nav {
    z-index: 2;
    height: 120px;
    margin-top: -60px;
    display: flex;
    position: relative;

    @media screen and (max-width: 767px) {
      display: block;
      margin: -60px 0 30px;
      height: auto;
      a {
        display: block;
      }
    }

    a {
      padding: 32px 50px;
      background: $color3;
      flex: 1 1 100%;
      line-height: normal;
      font-size: 24px;
      cursor: pointer;
      &.active {
        font-weight: bold;
        background: linear-gradient(90deg, #757891 0%, #505266 100%);
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.68);
      }
    }
  }
}
