@import '../../common/text';
@import '../../common/components';
@import '../../common/variables';

@import '../../common/header-desc-container';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  width: 100%;
  background: linear-gradient(4.5deg, #040E14 19.19%, #061824 88.66%);
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-size: $font-size-regular;
  font-family: Arial, sans-serif;
}

nav {
  max-width: 1440px;
  padding: 0 64px;
  height: 70px;
  display: flex;
  align-items: center;
  transition: 0.2s background-color;
  font-weight: 300;
  z-index: 10000;
  box-sizing: border-box;

  .logo {
    max-height: 30px;
  }

  @media screen and (min-width: 1080px) {
    justify-content: space-between;
  }

  .nav-links {
    a {
      margin-right: 32px;
      color: $secondary-text;
      font-size: 17px;
      font-family: $font-sen;
      font-weight: normal;

      &.is-active {
        color: $primary-text;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .dropdown-wrapper {
      display: inline-block;
      position: relative;
      padding-right: 10px;
      > a {
        // color: $color4;
        color: $secondary-text;
        position: relative;
        padding-right: 20px;
        &:before,
        &:after {
          content: '';
          display: block;
          position: absolute;
          //transition: .2s;
          width: 9px;
          right: 0;
          top: 10px;
          // border-bottom: 1px solid $color4;
          border-bottom: 1px solid $secondary-text;
          transform: rotate(-45deg);
        }
        &:before {
          margin-right: 6px;
          transform: rotate(45deg);
        }
      }
      > div {
        display: none;
        position: absolute;
        padding: 16px;
        background-color: $component-background;
        //box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.4);
        min-width: 100%;
        width: 200px;
        text-align: right;
        right: 0;
        z-index: 2;
        a {
          display: block;
          line-height: 1em;
          margin: 0 0 8px 0;
        }
      }
      &:hover {
        > div {
          display: block;
        }
        > a {
          color: white;
        }
        > a:after,
        > a:before {
          border-color: white;
        }
      }
    }
    @media screen and (max-width: 1079px) {
      display: none;
      > a,
      > div {
        display: block !important;
        text-align: right;
        padding: 0 16px !important;
      }
      .dropdown-wrapper > div {
        position: relative;
        display: block;
        box-shadow: none;
        padding-right: 12px;
      }
    }
  }
  @media screen and (max-width: 1079px) {
    &.open {
      background-color: $color1;
      box-shadow: 0 0 5px 5px rgba($color2, 0.7);
      .nav-links {
        display: block !important;
      }
    }
  }
  a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
  .menu-opener-wrapper {
    padding: 10px 5px 5px;
    height: 40px;
    text-align: right;
    display: none;
    float: right;
    @media screen and (max-width: 1079px) {
      display: block;
    }
    a {
      color: white;
      transform: rotate(90deg);
      padding: 10px;
      display: inline-block;
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 8px;
    }
  }
}

.account-error-wrapper {
  text-align: center;
  background-color: #d33133;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 3px;
  font-size: 18px;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

footer {
  background-color: #0F121B;
  padding: 37px 0 87px 0;

  .container {
    display: flex;
    justify-content: space-between;

    img {
      max-height: 32px;
    }
  }

  .copyright {
    font-family: $font-sen;
    font-size: 14px;
    line-height: 140%;
    color: $secondary-text;
  }
}

.logo-wrapper {
  display: inline-flex;
  line-height: 48px;
  font-size: 13px;
  a {
    padding: 0;
  }
  img {
    height: 47px;
    //width: 47px;
    margin-right: 15px;
    vertical-align: top;
  }
}

.logo {
  padding: 0;
}

.bg-text {
  position: absolute;
  font-family: $font-family-bg-text;
  font-size: 277px;
  line-height: 342px;
  color: $bg-text-color-1;
  opacity: 0.1;
  z-index: 1;
  pointer-events: none;
}

a {
  color: inherit;
}
