@import '../../common/variables';

.all-proposals {
  margin: auto;
  padding: 10px 0;
  h1 {
    font-size: 50px;
    margin: 100px 0 25px;
    font-weight: 300;
  }
  h5 {
    font-size: 25px;
    margin: 0px 0 50px;
    font-weight: 300;
  }
  .active-section {
    background-color: $color2;
    padding: 10px 0 50px;
    .description:after {
      background: linear-gradient(to bottom, rgba($color2, 0), rgba($color2, 1)) !important;
    }
  }
  .header-desc-container {
    max-width: 900px;
    padding: 0px 10px;
    margin: auto;
    .info-tip {
      padding: 10px;
      border-radius: 3px;
      background-color: rgba($color4, 1);
      font-weight: 300;
      margin-bottom: 20px;
    }
  }
  .proposal-wrapper {
    @media screen and (min-width: 768px) {
      display: flex;
    }
    .details-wrapper {
      flex: 1 1 100%;
      padding: 40px 10px;
      border-top: 1px solid white;
      p {
        margin: 10px 0;
        line-height: 1.5em;
        font-size: 14px;
        letter-spacing: 0.02em;
      }
      .started {
        color: $color4;
      }
      .title {
        font-weight: bold;
        line-height: 38px;
        text-decoration: none;
        font-size: 18px;
        letter-spacing: 0.02em;
      }
      .description {
        white-space: pre-wrap;
        max-height: 105px;
        font-size: 14px;
        overflow: hidden;
        position: relative;
        &:after {
          content: '';
          display: block;
          background: linear-gradient(to bottom, rgba($color1, 0), rgba($color1, 1));
          width: 100%;
          height: 5px;
          position: absolute;
          bottom: 0;
          left: 0;
          pointer-events: none;
        }
      }
    }
    .logo-wrapper {
      display: inline-flex;
      line-height: 120px;
      margin-top: 30px;
      img {
        height: auto;
        width: 120px;
        padding: 15px 15px;
      }
    }
    .vote-wrapper {
      color: white;
      text-decoration: none;
      line-height: 40px;
      font-size: 35px;
      letter-spacing: 0.02em;
      margin-top: 20px;
      display: inline-block;
      position: relative;
      left: 20%;
      border-radius: 5px;
      background-color: rgba($color4, 0.5);
      padding: 5px
    }
    .results-wrapper {
      flex: 0 1 25%;
      display: inline-flex;
      padding: 60px 30px 10px 30px;
      border-top: 1px solid white;
      justify-content: space-between;
      .word {
        font-weight: bold;
        line-height: 38px;
        font-size: 23px;
      }
      .number {
        height: 50px;
        font-size: 53px;
        position: relative;
        left: 20%;
        line-height: 50px;
        color: $color4;
        &:after {
          content: 'NEC';
          line-height: 55px;
          font-size: 33px;
          margin: 5px 0 0 5px;
          display: inline-block;
          vertical-align: top;
        }
      }
      .yes {
        .bar {
          display: inline-block;
          width: 130px;
          height: 14px;
          margin: 13px 10px;
          vertical-align: top;
          background-color: $color4;
          .bar-yes {
            display: inline-block;
            width: 0%;
            height: 14px;
            vertical-align: top;
            background-color: white;
            transition: width 1s;
          }
        }
      }
      .no {
        color: $color4;
      }
    }
  }
}
