.delegates {
  margin: auto;
  padding: 10px 0;

  h1 {
    font-size: 70px;
    margin: 100px 0 20px;
    font-weight: 300;
  }

  .small-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;
  }

  .page-description {
    margin-bottom: 30px;
  }
  .section-description {
    font-size: 18px;
    line-height: 29px;
    font-weight: 300;
  }
  .undelegate {
    margin: 30px 0;
    a {
      text-decoration: underline;
      margin-top: 5px;
      cursor: pointer;
      display: inline-block;
    }
  }
  .votes-section {
    background-color: #222A43;

    .section-description {
      margin-bottom: 50px;
    }

    .single-delegate {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;

      @media screen and (max-width: 767px) {
        flex-direction: column;
      }

      .delegate-information {
        max-width: 306px;

        .delegate-address {
          color: #fff;
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 13px;
        }

        .delegate-mission {
          font-size: 15px;
          line-height: normal;
          font-weight: 300;
        }
      }

      .vote-for-delegate {
        .checkbox-text {
          font-size: 15px;
          color: #757891;
          text-shadow: 0 0 100px rgba(0, 0, 0, 0.75);
        }
        &.submit-wrapper {
          padding: 0;
          text-align: left;
        }
      }
    }
  }
}

.checkbox {
  display: inline !important;
  cursor: pointer;
  font-size: 12px;
  position: relative;
  margin: 0 !important;
  input {
    display: none;
    &:checked {
      & + .label:before {
        -webkit-box-shadow: inset 0 0 0 3px #222A43;
        -moz-box-shadow: inset 0 0 0 3px #222A43;
        box-shadow: inset 0 0 0 3px #222A43;
        background-color: #fff;
      }
    }
  }
  .label {
    font-size: 12px;
    margin: 0;
    &:before {
      content: "";
      position: relative;
      bottom: -2px;
      display: inline-flex;
      width: 13px;
      height: 13px;
      text-align: center;
      border: 1px solid #757891;
      margin-right: 8px;
      background-color: transparent;
      transition: background-color .2s ease-in-out;
    }
  }
}
