@import '../../common/variables';

.current-proposals {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  .proposal-wrapper {
    margin: 30px 0;
    width: 50%;
    p {
      margin: 10px 0;
      line-height: 1.5em;
      font-size: 14px;
      letter-spacing: 0.02em;
    }
    .started {
      color: $color4;
    }
    .title {
      font-weight: bold;
      line-height: 38px;
      font-size: 24px;
      letter-spacing: 0.02em;
    }
    .description {
      white-space: pre-wrap;
      max-height: 105px;
      overflow: hidden;
      position: relative;
      &:after {
        content: '';
        display: block;
        background-color: $color2;
        background: linear-gradient(to bottom, rgba($color2, 0), rgba($color2, 1));
        width: 100%;
        height: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
        pointer-events: none;
      }
    }
    .results-wrapper {
      display: flex;
      .word {
        font-weight: bold;
        line-height: 38px;
        font-size: 23px;
      }
      .number {
        font-weight: bold;
        height: 60px;
        font-size: 53px;
        &:after {
          content: '%';
          line-height: 55px;
          font-size: 33px;
          margin: 5px 0 0 5px;
          display: inline-block;
        }
      }
      .votes-number {
        line-height: 20px;
        font-size: 12px;
        color: $color4;
      }
      .yes {
        .bar {
          display: inline-block;
          width: 130px;
          height: 14px;
          margin: 13px 10px;
          vertical-align: top;
          background-color: $color4;
          .bar-yes {
            display: inline-block;
            width: 0%;
            height: 14px;
            vertical-align: top;
            background-color: white;
            transition: width 1s;
          }
        }
      }
      .no {
        color: $color4;
      }
    }
    .vote-wrapper {
      font-size: 36px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      font-weight: bold;
      a {
        display: inline-block;
        padding: 5px;
        cursor: pointer;
      }
    }
  }
}
