.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
}

.notification-wrapper {
  position: fixed;
  transform: translateY(-80px);
  opacity: 0;
  transition: all .3s;
  text-align: center;
  width: 100%;
  pointer-events: none;
  z-index: 1000000;
  &.active {
    transform: translateY(10px);
    opacity: 1;
  }
  .notification-inner-wrapper {
    display: inline-block;
    width: 500px;
    max-width: 100%;
    min-height: 40px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    background-color: #eee;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(black, .2);
    &.success {
      background-color: #4a9c20;
      color: white;
    }
    &.error {
      background-color: #d33133;
      color: white;
    }
  }
}

@keyframes wave1 {
  from {
    transform: translateX(-480px)
  }
  to {
    transform: translateX(0%)
  }
}

@keyframes wave2 {
  from {
    transform: translateX(-720px)
  }
  to {
    transform: translateX(0%)
  }
}

.waves {
  height: 200px;
  overflow: hidden;
  position: relative;
  clear: both;
  &.reverse {
    transform: scaleX(-1) scaleY(-1);
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    height: 200px;
    width: 2880px;
    background: url('/images/wave1.png');
    animation: wave1 30s infinite linear;
  }
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    height: 200px;
    width: 2880px;
    background: url('/images/wave2.png');
    animation: wave2 20s infinite linear;
  }
}
