$color1: #222a43;
$color2: #041824;
$color3: #191F32;
$color4: #757891;

$accent: #9972FF;

$bg-text-color-1: #4D5475;

$font-family-bg-text: 'Old Standard TT', serif;

$dark-gray: #28324A;

$primary-text: #fff;
$secondary-text: #A9ABCB;
$dark-text: #212A41;


$font-sen: 'Sen', sans-serif;
$font-nunito: 'Nunito', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

$component-background: #28324A;

$violet-inactive: #4100C0;
$violet-active: #5500FC;

$input-color: rgba(169, 171, 203, 0.1);


