@import '../../common/variables';

.about-tokens {
  margin: auto;
  padding: 10px 0;
  min-height: calc(100vh - 177px);

  .header-desc-container {
    margin-bottom: 0;
    p {
      max-width: none;
    }
  }

  h1 {
    font-size: 70px;
    margin: 100px 0 20px;
    font-weight: 300;
  }
  h2 {
    font-size: 24px;
    position: relative;
    font-weight: normal;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
    :not(:first-child) {
      margin-top: 4em;
    }
  }
  h5 {
    font-size: 18px;
    font-weight: 300;
    //max-width: 500px;
  }
  p {
    font-weight: 300;
    max-width: 500px;
    line-height: 1.5em;
  }
  li {
    font-weight: 300;
  }
  video {
    max-width: 100%;
    @media screen and (min-width: 900px) {
      height: 440px;
    }
  }
  section {
    padding: 40px 0;
    &.video {
      background-color: $color2;
    }
    &.white {
      background-color: white;
      color: $color1;
    }
  }
  .toc-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    > h3 {
      flex: 0 0 250px;
      line-height: 34px;
      font-weight: normal;
      transition: .1s;
      &:nth-child(3n + 2) {
        flex: 0 0 220px;
      }
      &:nth-child(3) {
        flex: 0 0 320px;
      }
      @media screen and (max-width: 900px) {
        flex: 0 0 100% !important;
      }
      &:before {
        content: attr(data-decoration);
        margin-right: 16px;
        display: inline-block;
        height: 34px;
        width: 34px;
        border-radius: 50%;
        background-color: #4800FF;
        color: white;
        text-align: center;
        line-height: 34px;
        font-weight: 300;
        font-size: 18px;
      }
      &:hover {
        opacity: .8;
      }
      a {
        text-decoration: none;
      }
    }
  }
  .decorated {
    display: flex;
    margin: 4em 0;
    > :first-child {
      padding-left: 75px;
      flex: 0 0 60%;
      @media screen and (max-width: 900px) {
        flex: 0 0 100%;
      }
      h2:before {
        content: attr(data-decoration);
        position: absolute;
        left: -75px;
        top: -12px;
        display: block;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #4800FF;
        color: white;
        text-align: center;
        line-height: 50px;
        font-weight: 300;
        font-size: 30px;
      }
    }
    > :last-child {
      flex: 0 0 40%;
      @media screen and (max-width: 900px) {
        display: none;
      }
      img {
        max-width: 100%;
      }
    }
  }
}
