@import "../../../../common/variables";

.fee-discounts__content {
  padding-bottom: 60px;

  @media (max-height: 950px) {
    padding-bottom: 30px;
  }
}

.fee-discounts__calculator-content {
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  background: rgba(40, 50, 74, 0.5);
  border-radius: 6px;
  padding: 24px;
  margin-bottom: 48px;
  box-sizing: border-box;
  width: 445px;
  @media all and (max-width: 868px) {
    width: 100%;
  }
}

.fee-discounts__calculator {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 41px;
  @media all and (max-width: 868px) {
    flex-direction: column;
  }
}

.fee-discounts__input {
  background-color: $input-color;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 0;
  outline: none;
  padding: 16px;
  height: 56px;
  width: 180px;

  color: $primary-text;

  @media all and (max-width: 868px) {
    width: 100%;
  }
}

.fee-discounts__label,
.fee-discounts__receive-label-bottom {
  margin-bottom: 4px;
  font-family: $font-sen;
  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
  text-transform: uppercase;
}

.fee-discounts__receive-label-bottom {
  position: absolute;
  bottom: -24px;
  margin: 0;
  color: $secondary-text;
  font-size: 14px;
  text-transform: lowercase;
  opacity: 0.9;
}

.fee-discounts__input-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.fee-discounts__input-nec {
  position: relative;
}

.fee-discounts__input-percent {
  position: relative;
}

.fee-discounts__input-percent.right input {
  //padding-right: 65px;
  //text-align: start;
}

.fee-discounts__input-percent::after,
.fee-discounts__input-nec::after {
  position: absolute;
  right: 0;
  top: 50%;
  font-family: $font-sen;
  content: 'USD';
  font-size: 16px;
  font-weight: normal;
  transform: translate(-16px, -50%);
}

.fee-discounts__input-nec::after {
  content: 'NEC';
}

.fee-discounts__link:hover {
  text-shadow: #dce2ff;
}

.fee-discounts__receive-usd {
  box-sizing: border-box;
  width: 180px;
  padding: 16px;
  font-weight: normal;
  font-size: 16px;
  font-family: $font-sen;
  line-height: 24px;
  border: none;
  color: $primary-text;
  background-color: $input-color;
  border-radius: 4px;
  transition: all 0.2s;

  @media all and (max-width: 868px) {
    width: 100%;
  }
}

.fee-discount__receive-text {
  padding: 0;
  width: 100%;
  max-width: 100%;
  margin: 0;
  overflow: hidden;
}

.fee-discount__section-margin {
  margin-bottom: 30px !important;

  @media (max-height: 850px) {
    margin-bottom: 20px !important;
  }
}
