@import '../../common/variables';

.all-proposals {
  max-width: 1200px;
  margin: auto;
  padding: 100px 30px;
  display: flex;
  flex-wrap: wrap;
  .proposal-wrapper {
    margin: 30px 0;
    width: 50%;
    p {
      margin: 10px 0;
      line-height: 1.5em;
      font-size: 14px;
      letter-spacing: 0.02em;
    }
    .started {
      color: $color4;
    }
    .title {
      font-weight: bold;
      line-height: 38px;
      font-size: 24px;
      letter-spacing: 0.02em;
    }
    .description {
      white-space: pre-wrap;
      max-height: 105px;
      overflow: hidden;
      position: relative;
      &:after {
        content: '';
        display: block;
        background: linear-gradient(to bottom, rgba($color1, 0), rgba($color1, 1));
        width: 100%;
        height: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
        pointer-events: none;
      }
    }
    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      line-height: 40px;
      font-size: 24px;
      letter-spacing: 0.02em;
    }
  }
}
